<div class="container-fluid">
		<div class="row header">
			<div class="col-md-3">
				<div class="header__logo header__logo--main">
					<img src="img/logo.png">
					<span>
						Белая роза
					</span>
				</div>
			</div>
			<div class="col-md-7 ">
				<nav class="header__mainmenu">
					<ul>
						<li><a class="active" href="#">Клиника</a></li>
						<li><a href="#">Услуги</a></li>
						<li><a href="#">Статьи</a></li>
						<li><a href="#">Видео</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-2">
				<div class="header__phone">
					<span>8 4242 300 114</span>
					<div class="header__newphone">8 4242 300 114</div>
					<div class="header__newphone header__phoneadress">г. Южно-Сахалинск, 
					ул. Курильская, 42 А</div>
				</div>
			</div>
		</div>

	</div>